@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'Asap', sans-serif;
}
#container{
    display: flex;
    flex-direction: row   ;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}
.bar{
    display: flex;
    flex-direction: center;
    height: 60px;
    align-items: center;
    color: black;
    
}
a{
    text-decoration: none;
    color: white;

}
#button{
    background-color: #ffcc00;
    padding: 8px;
}